.postContainer {
  margin-top: 4rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.3px;
  }
}

.postContentHeader {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--TertiaryGray);
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    color: var(--TertiaryGray);
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background: var(--PrimaryClr);
    padding: 0.5rem 0.6rem;
    color: white;
    border-radius: 12px;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }

    svg {
      font-size: 1.1rem;
    }
  }
}

.postImgContainer {
  width: 100%;
  img {
    max-width: 100%;
  }
}

.postContentBody {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--TertiaryGray);
  position: relative;

  p {
    white-space: pre-wrap;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }

  .editPost {
    display: flex;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      padding: 0.4rem;
      border-radius: 12px;
      background: var(--PrimaryClr);
      font-family: var(--PrimaryFont);
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }

      svg {
        font-size: 1.1rem;
      }
    }
  }
}

.postContentFooter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

h2 {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .postContainer {
    margin-top: 2rem;

    h2 {
      font-size: 1.75rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .postContainer {
    padding: 0 0.5rem 1rem 0.5rem;

    h2 {
      font-size: 1.35rem;
    }
  }
}
