.postContainer {
  margin-top: 4rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid var(--TertiaryGray);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.postContentHeader {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--TertiaryGray);

  h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.3px;
  }

  div {
    display: flex;
    flex-direction: column;
    color: var(--TertiaryGray);
  }
}

.postImgContainer {
  width: 100%;
  img {
    max-width: 100%;
  }
}

.postContentBody {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--TertiaryGray);
}

.postContentFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .postContainer {
    margin-top: 2rem;
  }
}
