.createPostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 80vh;

  h2 {
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 400;
  }

  form {
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin: 0 1rem 0.5rem;
    padding: 2rem;
    width: 100%;
  }
}

.formInputContainer {
  margin-bottom: 2rem;
  width: 100%;

  input {
    border: thin solid lightgray;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
    color: var(--Clr-Mid-Gray);
    font-size: 1rem;
    padding: 0.6rem 1rem;
    width: 100%;
    color: var(--TertiaryGray);
  }

  label {
    color: var(--Clr-Dark-Gray);
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    span {
      color: var(--PrimaryClr);
    }
  }

  textarea {
    width: 100%;
    padding: 1rem;
    color: var(--TertiaryGray);
    font-size: 1rem;
  }
}

.formFooter {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;

  button {
    cursor: pointer;
    font-family: var(--PrimaryFont);
    font-size: 1rem;
    background: var(--BtnBlue);
    color: white;
    margin: 0;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    border: none;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }
  }

  a {
    border: 1px solid var(--TertiaryGray);
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    margin: 0;
    transition: 0.2s;

    &:hover {
      border: none;
      background: var(--TertiaryGray);
      color: white;
    }
  }
}

.errorContainer {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--PrimaryClr);
}

@media only screen and (max-width: 450px) {
  .createPostContainer {
    form {
      padding: 1rem;
    }
  }
}
