.postWidgetContainer {
  max-width: 800px;
  margin: 0 auto;
  border: solid 1px var(--TertiaryGray);
  padding: 2rem 1.5rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  transition: 0.2s;

  &:hover {
    background: var(--LightGray);
  }
}

.postWidgetHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.postWidgetAvatar {
  width: 35px;
  height: 34px;
  background: var(--PrimaryClr);
  border-radius: 50%;
}

.postWidgetUser {
  font-size: 0.9rem;
}

.postWidgetBody {
  padding: 0 1.5rem 0 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  h3 {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin: 0;
  }
}

.postWidgetFooter {
  padding: 0 1.5rem 0 3rem;
  display: flex;
  justify-content: space-between;
}

.postWidgetFooterLeft {
  display: flex;
  gap: 2rem;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    svg {
      font-size: 1.2rem;
    }
  }
}

.postWidgetFooterRight {
  display: flex;
  gap: 0.55rem;
  align-items: center;

  svg {
    font-size: 1.2rem;
  }
}

.createPostWidget {
  margin: 0 auto;
  text-align: center;

  a {
    background: var(--PrimaryClr);
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    color: white;
    transition: 0.2s;

    &:hover {
      background: none;
      color: var(--Black);
      border: 1px solid var(--PrimaryClr);
    }
  }
}

.commentContainer {
  display: flex;
  padding: 0 1rem;
  gap: 1rem;
}

.commentContainerLeft {
  margin-top: 0.5rem;
}

.commentContainerRight {
  width: 80%;
  border: solid 1px var(--TertiaryGray);
  border-radius: 12px;
  padding: 1rem;
}

.commentContainerRightHeader {
  margin-bottom: 1rem;
}
