.heroContainer {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 3rem;
  flex-wrap: wrap-reverse;
  border-bottom: thin solid black;
  flex-wrap: wrap;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    max-width: 500px;
    font-size: 1.5rem;
  }
}

.heroRight {
  max-width: 1000px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.postsContainer {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h2 {
    margin: 0 0 1rem 0;
  }
}

.post {
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: thin solid black;
}

@media only screen and (max-width: 1550px) {
  .heroContainer {
    flex-wrap: wrap-reverse;
    align-items: center;
  }

  .heroRight {
    margin: 0 auto;
  }

  .heroLeft {
    align-items: center;

    h2 {
      margin: 2rem 0 0 0;
    }

    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .heroContainer {
    flex-wrap: wrap-reverse;
  }

  .heroLeft {
    align-items: center;

    p {
      width: 100%;
    }
  }
}
