.heroContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--TertiaryGray);
}

.heroLeft {
  width: 45%;
  margin-right: 20px;

  h2 {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    max-width: 500px;
    font-size: 1.25rem;
  }

  a {
    color: var(--TertiaryGray);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: thin solid var(--TertiaryGray);
  }
}

.heroRight {
  width: 55%;
  img {
    max-width: 100%;
  }
}

.postsContainer {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.postContainerHeader {
  margin-bottom: 4rem;
  border-bottom: solid 1px var(--TertiaryGray);

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  p {
    margin-top: 0;
    font-size: 1.5rem;
  }
}

.post {
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: thin solid black;
}

@media only screen and (max-width: 1000px) {
  .heroContainer {
    height: 80vh;
    flex-wrap: wrap;
  }

  .heroLeft {
    margin: 0;
    width: 100%;
    text-align: center;

    p {
      margin: 0 auto;
    }
  }

  .heroRight {
    width: 100%;
    margin: 0;
  }
}
