*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --PrimaryClr: #e9505b;
  --BtnBlue: #2185d0;
  --TertiaryGray: #7a7e8b;
  --LightGray: #f6f8fa;
  --Black: #000000de;

  --PrimaryFont: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: var(--PrimaryFont);
  color: var(--Black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2 {
  color: var(--Black);
}

#root {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

p {
  color: var(--TertiaryGray);
}

.content-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
